#Archivos de compilación
*/bin/*
*/obj/*
bin/
obj/
Debug/

#Build
/build/

#Apps Settings
appsettings.json
appsettings.Development.json


# Rider
.idea/
*.sln.iml


# ASP.NET
wwwroot/lib/

# .NET
bin/
obj/
